  html {
    scroll-behavior: smooth;
  }
  p {
    margin: 30px 30vh;
    color: aliceblue;
  }
 
  
  .background {
    background: url("/Images/backIMG.jpg");
    background-repeat: repeat;
    background-size: none;
    background-position: top center;
  }
  .visible{
    visibility: hidden;
  }
 
  .footer {
    padding-bottom: 3%;
    background: url("/Images/Footer.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  nav {
    height: 10vw;
    width: 100%;
  }
  
  nav .logo {
    width: 35vw;
    margin-left: 32%;
    margin-top: 1%
  }
  
  nav .logo a {
    width: 100%;
  }
  
  nav .logo a .img-logo {
    width: 100%;
  }
  
  
  .wrapper {
    position: relative;
  }
  
  .wrapper .home {
    position: relative;
    padding-top: 10vmax;
  }
  
  .wrapper .home .floating {
    position: fixed;
    right: 3vw;
    top: 16%;
    width: 1vw;
    transition: 0.8s;
  }
  .B1{
    padding-bottom: 10px;
    width: 1vw;
    transition: 0.8s;
  }
  .wrapper .home .floating:hover{
    width: 10vw;
    transition: 0.8s;
  }
h1,h2,h3,h4,h5,h6{
  color: aliceblue;
}
h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}
  
  .title_header {
    width: 50%;
    top: 2vw;
    position: relative;
  }
  
  .row{
      width: 800px;
  }

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
    margin-left: 70%;
}
.btn-clear{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
    margin-right: 70%;
    position: absolute;
}
#form_message{
    resize: vertical;
}

.slide_video {
    display:none;
}
.show_video{
    display:block;
}

.left_btn{
    float: unset;
}
.right_btn{
    display: inline;
}

.images{
    display: inline;
    margin-left: 0px;
    margin-right: 0px;
}
.images img{
    width: 320px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

.BTNF{
  width: 13vw;
  height: auto;
}

label{
  font-size: 20px;
  color: aliceblue;
}

.titleIMG{
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.HVRhome:hover{
  width: 15vw;
  height: auto;
}
.HVRstory:hover{
  width: 15vw;
  height: auto;
}
.HVRvideo:hover{
  width: 15vw;
  height: auto;
}
.HVRgallery:hover{
  width: 15vw;
  height: auto;
}
.HVRdownload:hover{
  width: 15vw;
  height: auto;
}
.HVRcontact:hover{
  width: 15vw;
  height: auto;
}